/*.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  background-color: rgb(224, 214, 224);
}
.card .card-image{
  max-width: 30%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-tittle{
  font-family: Arial,  sans-serif;
  margin: 0;
  color:rgb(19, 60, 61);
}
.card .card-text{
  font-family: ariel, sans-serif;
  color: black;
}*/

.welcome-message{
  font-size: 2.5em;
  background-color: darkcyan;
  color: white;
  padding:10px;
  border-radius: 5px;
  margin:0;
}
.login-prompt{
   font-size: 2.5em;
  background-color: rgb(23, 0, 139);
  color: white;
  padding:10px;
  border-radius: 5px;
  margin:0;
  
}